<KrossScripting>
  <collection comment="Tools" name="tools" text="Tools" >
    <script text="Перевірка синтаксису під час кожного збереження файла (GUI)"
            name="check-gui"
            file="check-gui.js"
            interpreter="qtscript">
            <property name="autorun" >true</property>
    </script>
  </collection>
</KrossScripting>
