<KrossScripting>
  <collection comment="Інструменти" name="tools" text="Інструменти">
    <script icon="text-x-python" comment="Клацання середньою кнопкою миші на віджеті у будь-якій з програм накаже програмі виконати пошук у пам’яті перекладів у всіх відкритих вікнах Lokalize." name="widget-text-capture" file="widget-text-capture.py" interpreter="python" text="Захоплення тексту віджетів"/>
    <script icon="text-x-python" comment="Зібрати переклади po і зберегти їх до ~/.kde" name="msgfmt" interpreter="python" text="Встановити переклад локально"/>
    <script icon="application-javascript" name="check-gui" file="check-gui.js" interpreter="qtscript" text="Перевірка синтаксису під час кожного збереження файла (GUI)">
      <property name="autorun">true</property>
    </script>
    <script icon="text-x-python" comment="Open source file" name="opensrc" file="../../../scripts/lokalize/opensrc.py" interpreter="python" text="Відкрити файл вихідних кодів">
      <property name="autorun">true</property>
    </script>
    <script icon="text-x-python" comment="Створює перекладену версію документа ODF" name="xliff2odf" interpreter="python" text="Об’єднати у ODF"/>
  </collection>
</KrossScripting>
