<KrossScripting>
  <collection comment="Tools" name="tools" text="Tools" >
    <script text="Lookup selection in multitran"
            name="lookup-multitran"
            file="lookup-multitran.py"
            interpreter="python" />
  </collection>
</KrossScripting>
