<KrossScripting>
  <collection comment="Tools" name="tools" text="Tools" >
    <script text="Ukrainian simultaneous"
            name="ukrainian-simultaneous"
            file="ukrainian-simultaneous.py"
            interpreter="python" />
  </collection>
</KrossScripting>
