<KrossScripting>
  <collection comment="Utilidades" name="tools" text="Utilidades">
    <script icon="text-x-python" comment="Prema co botón central do rato nun widget de calquera programa de KDE para iniciar a procura na TM en todas as fiestras de Lokalize que teña abertas" name="widget-text-capture" interpreter="python" text="Captura do texto de widgets"/>
    <script icon="text-x-python" name="Apertium MT" interpreter="python" text="Translate source text via Apertium"/>
    <script icon="text-x-python" comment="Open source file" name="opensrc" file="../../../../../trunk/l10n-kde4/scripts/lokalize/opensrc.py" interpreter="python" text="Open source file">
      <property name="autorun">true</property>
    </script>
    <script icon="text-x-python" name="Mark as rejected" interpreter="python" text="Adds a predefined comment intended to be a rejection mark"/>
  </collection>
</KrossScripting>
