<KrossScripting>
  <collection comment="Ferramentas" name="tools" text="Ferramentas" 
>
    <script text="Português simultâneo"
            name="pt-sync"
            file="pt-sync.py"
            interpreter="python">
    </script>
  </collection>
</KrossScripting>
