<KrossScripting>
  <collection comment="Ferramentas" name="tools" text="Ferramentas">
    <script icon="text-x-python" comment="O botão do meio do mouse, sobre um item de qualquer aplicativo do KDE, inicia a pesquisa na memória de traduções para todas as janelas abertas do Lokalize" name="widget-text-capture" interpreter="python" text="Capturar texto do widget"/>
    <script icon="text-x-python" name="pt-sync" file="pt-sync.py" interpreter="python" text="Português simultâneo"/>
    <script enabled="false" icon="text-x-python" name="multitarget" interpreter="python" text="Multidestinos"/>
  </collection>
</KrossScripting>
